<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>DOCTOR PAGE - ${data.doctor.name}</h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            <td>${data.doctor.id}</td>
            <td>${data.doctor.name}</td>
        </table>
    </body>
</html>