<html>
    <body>
        <h1>Add Doctor</h1>

        <form action="/doctors" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Type the doctor's name" />
            </div>

            <input type="submit" value="Save" />
        </form>
    </body>
</html>